     <div class="container">
      <div class="card-deck mb-12 text-center">
        <div class="card mb-12 shadow-sm">
           <div class="container">
 <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">GestioPass</h1>
      <p class="lead">Gestionnaire de mot de passe multi-session pour entreprises.</p>
    </div>