    {{#each errors}}
      <div class="alert alert-danger">{{text}}</div>
      {{else}}
    {{/each}}
    
    <div class="container">
      <div class="py-5 text-center">
        <h2 class="p-1">Register</h2>
      </div>
      <div class="row form-register  ">
        <div class="col-md-12 order-md-1">
          <form action="/users" method="POST">
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="firstName">First name</label>
                <input type="text" class="form-control" name="firstName" id="firstName" placeholder="" value="" >
              </div>
              <div class="col-md-6 mb-3">
                <label for="lastName">Last name</label>
                <input type="text" class="form-control" name="lastName" id="lastName" placeholder="" value="" >
              </div>
            </div>
            <div class="mb-3">
              <label for="Email">Email</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">@</span>
                </div>
                <input type="text" class="form-control" name="email" id="email" placeholder="Email" >
              </div>
            </div>
            <div class="mb-3">
              <label for="address">Password</label>
              <input type="password" class="form-control" name="password" id="password" placeholder="Enter password" >
            </div>
            <div class="mb-3">
              <label for="password">Confirm password </label>
              <input type="password" class="form-control" name="password2" id="password2" placeholder="Re-enter password">
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
          </form>
        </div>
      </div>
</div>

